@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";

$light-grey: #ebebeb;
$text: #666666;
$input-background: #eeeeee;

body {
  font-family: 'Commissioner', sans-serif;
}
.header{
  &-item {
    position: relative;
  }
  .nav-item:hover {
    font-weight: 700;
    color:#292929;
  }
  &-item::after{
    display: block;
    content: "";
    background: $orange;
    border-radius: 8px;
    transition: color 300ms;
    height: 4px;
    margin: auto;
    position: absolute;
    bottom: 0;
    width: 0%;
  }
  &-item:hover::after{
    width:100%;
  }
}

.form-control {
  border-top-left-radius: 30px!important;
  border-bottom-left-radius: 30px!important;
  background-color:$input-background;
  color: $text;
}
.input-group-append,
.input-group-text{
  border-top-left-radius: 30px!important;
  border-bottom-left-radius: 30px!important;
  background-color:$input-background;
  color: $text;
}
.text-container {
  overflow: hidden;
  line-height: 24px;
  color: $text;
}

.orange{
  background-color:  $orange;
  color: $white;
}

.orange:hover {
  border: 1px solid $orange;
  color: $orange;
}

.btn-outline-secondary{
  border: 2px solid $light-grey;
}

@media (max-width: 576px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}





