@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700&display=swap');


$theme-colors: (
  "primary": #ED7135
);

.form-control{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
		 border-radius: 0;
 
}

body {
	font-family: 'Commissioner', sans-serif;
}



/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}
.input-group{
	border-radius: 50%;
}

.search-container {
	width: 10%;
	margin: 0px auto;
}
.has-search .form-control {
	padding-left: 2.375rem;
}

.form-control {
	border-top-right-radius: 30px!important;
	border-bottom-right-radius: 30px!important;
}
.input-group-append,
.input-group-text{
	border-top-left-radius: 30px!important;
	border-bottom-left-radius: 30px!important;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








